<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Crop Recommendation</title>
</head>
<body>
    <!-- Navigation bar -->
    <!--style="background-image: linear-gradient(to bottom, rgba(86, 213, 0, 1), rgba(255,255,255,255));-->
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
            <img src="E:\Bayer\Bayer_Logo_Cropped.png" width="80" height="80" alt="">
        </a>
        <span class="navbar-brand mb-0 h1" style="display:block;margin:auto;font-size:40px;text-align:center;color:#00314E">Crop Recommendation System</span>
    </nav>

    <!-- Inputs for prediction -->
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <!--<form action="{{url_for('predict')}}" method="post"></form>-->
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group md-4">
                        <label for="Nitrogen_Content_Label">Enter the ratio of Nitrogen content</label>
                        <textarea class="form-control" id="Nitrogen_Content_Text" rows=1 required="required"></textarea>
                    </div>
                    <div class="form-group md-4">
                        <label for="Phosphorous_Content_Label">Enter the ratio of Phosphorous content</label>
                        <textarea class="form-control" id="Phosphorous_Content_Text" rows=1 required="required"></textarea>
                    </div>
                    <div class="form-group md-4">
                        <label for="Potassium_Content_Label">Enter the ratio of Potassium content</label>
                        <textarea class="form-control" id="Potassium_Content_Text" rows=1 required="required"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group md-4">
                        <label for="Temperature_Label">Enter the temperature in celsius</label>
                        <textarea class="form-control" id="Temperature_Text" rows=1 required="required"></textarea>
                    </div>
                    <div class="form-group md-4">
                        <label for="Relative_Humidity_Label">Enter the relative humidity in %</label>
                        <textarea class="form-control" id="Relative_Humidity_Text" rows=1 required="required"></textarea>
                    </div>
                    <div class="form-group md-4">
                        <label for="pH_Content_Label">Enter the ph value(0-14) of the soil</label>
                        <textarea class="form-control" id="pH_Content_Text" rows=1 required="required"></textarea>
                    </div>
                    <div class="form-group md-4">
                        <label for="Rainfall_Label">Enter rainfall in mm</label>
                        <textarea class="form-control" id="Rainfall_Text" rows=1 required="required"></textarea>
                    </div>
                </div>
            </div>    
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#predictCropModal">Submit</button>
            </div>
        </form>
    </div>
    <!-- Display crop -->
    <div class="modal fade" id="predictCropModal" tabindex="-1" role="dialog" aria-labelledby="predictCropCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="predictCropTitle">Crop Prediction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--{{prediction_text}}-->
                    Lorem Ipsum
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>